@charset "ISO-8859-1";
body {
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container, img{
    width: 100%;
    height:calc(100% - 91px);
}

.topnav {
    overflow: hidden;
    background-color: #F77B67;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: white;
    color: #CFB23C;
}

.title {
    color: white;
    background-color: #CFB23C;
    font-size: 25px;
    padding: 10px;
    margin: 0;
    text-align: center;
}


.form-content{
    width: 100%;
    height:calc(100% - 91px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.form-container, .btn-group {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;    
}
.form-group {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 15px;
}

.form-group label {
    width: 100px;
}

.form-group input {
    width: 200px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

input[type="submit"]{
    width: 120px;
    margin-top: 2rem;
    padding: 15px;
    font-size: 15px;
    border: none;
    background-color: #F77B67;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
}
input[type="submit"]:hover{
    filter: brightness(0.85);
}

input[type="reset"]{
width: 120px;
    margin-top: 2rem;
    padding: 15px;
    font-size: 15px;
    border: none;
    background-color: #F77B67;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
}
input[type="reset"]:hover{
 filter: brightness(0.85);
}
